<div *ngIf="iconDelete">
  <div class="d-sm-flex bd-highlight">
    <div class=" bd-highlight" *ngIf="iconDelete"><span class="badge badge-primary badge-pill">{{item.cantidad}}</span></div>
    <div class=" flex-grow-1 bd-highlight ">
      <h6>{{item.name}}</h6>
    </div>
    <div class=" bd-highlight">
      <div class="d-flex flex-grow-1 bd-highlight">
        <div class=" bd-highlight">S/ {{item.price}}.00</div>
        <div class=" bd-highlight mx-1" *ngIf="iconDelete">
          <button type="button" class="btn btn-primary btn-block h-100 " (click)="emmitDelete(indice)"> <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        <div class="bd-highlight mx-1" *ngIf="iconDelete">
          <button type="button" class="btn btn-primary btn-block h-100 " (click)="emmitRestItem(item.id,indice )"> <i class="fas fa-minus-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="iconAdd">
  <img class="card-img-top" src="{{item.img}}" alt="Card image cap" height="120">
  <div class="card-body">
    <h6 class="card-subtitle">{{item.name}}</h6>
    <p class="card-text">Precio: {{item.price}}.00</p>
  </div>
  <!-- <button *ngIf="item.elements" type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Ordenar</button> -->
  <!-- <ng-container *ngIf="item.elements">
  </ng-container> -->
  <!-- *ngIf="item.elements === undefined" -->
  <button type="button" class="btn btn-primary btn-block btn-lg" (click)="emmitItem(item.id)" >Ordenar</button>
</ng-container>