<!-- <div class="card">
          <ul class="list-group  list-group-flush">
              <li *ngFor="let item of itemsBreakfast" class="list-group-item" >
                    <app-item  [item]="item" [iconAdd]="iconAdd" (newItem)="emmitItem($event)"></app-item>
              </li>       
          </ul>
  </div> -->
<!-- <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text"> This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title that wraps to a new line</h5>
                  <p class="card-text"> This content is a little bit longer.</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div> 
              <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title that wraps to a new line</h5>
                      <p class="card-text"> This content is a little bit longer.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This card has supporting</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
      
      </div> -->

<!-- <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div> -->
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew"
        alt="Card image cap">

      <div class="card-body">
        <h6 class="card-title">Café americano</h6>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <h6>S/ 6.00 </h6><i class="fas fa-plus-circle" *ngIf="iconAdd" (click)="emmitItem(item.id)"></i>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew"
        alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">Cafe con leche</h6>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <h6>S/ 6.00 </h6><i class="fas fa-plus-circle" *ngIf="iconAdd" (click)="emmitItem(item.id)"></i>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew"
        alt="Card image cap">

      <div class="card-body">
        <h6 class="card-title">Hamburguesa doble</h6>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <h6>S/ 6.00 </h6><i class="fas fa-plus-circle" *ngIf="iconAdd" (click)="emmitItem(item.id)"></i>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd--iLezC7bgUvUyEdUE7eg3LaiM1tq4ayUZX8g89-rpGxSJVrew"
        alt="Card image cap">

      <div class="card-body">
        <h6 class="card-title">Hamburguesa simple</h6>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <h6>S/ 6.00 </h6><i class="fas fa-plus-circle" *ngIf="iconAdd" (click)="emmitItem(item.id)"></i>
      </div>
    </div>
  </div>
</div>