<main class=" container">
  <form class="form mt-4 row m-1">
    <div class="form-group mx-sm-3 mb-2">
      <button type="button" class="btn bg-yellow mb-2 mx-1 text-white" (click)="checkoutListBreakfast()" [ngClass]="{'bg-yellow': ListActive === 'breakfast' ,  'bg-secondary': ListActive === 'lunch' }"> Desayuno</button>
      <button type="button" class="btn bg-secondary mb-2 mx-1 text-white" (click)="checkoutListLunch()" [ngClass]="{'bg-secondary':ListActive === 'breakfast' ,  'bg-yellow': ListActive === 'lunch' }">Almuerzo</button>
    </div>
  </form>
  <section class="row mb-5 m-1">
    <div class="col-md-6 px-0" *ngIf="ListActive === 'breakfast'">
      <app-breakfast  [itemsBreakfast]="itemsBreakfast" (newItem)="addItemOrder($event)"></app-breakfast>
    </div>
    <div class="col-md-6 px-0" *ngIf="ListActive === 'lunch'">
      <app-lunch [itemsLunch]="itemsLunch" (newItem)="addItemOrder($event)"></app-lunch>
    </div>
    <div class="col-md-5 px-0 ml-auto">
      <app-orders [order]="orderLocal" [priceTotal]="priceTotal" 
      (delete)="deleteItem($event)" (send)="sendOrder($event)" (rest)="restItem($event)"></app-orders>
    </div>
  </section>
</main>
